---
import Pagination from '@astrojs/starlight/components/Pagination.astro';
---

<footer>
  <Pagination />
  <p> Quark © 2025 | Guillaume (Goliver) Golay</p>
</footer>

<style>
   footer p {
    text-align: center;
    font-size: 0.85rem;
  }
</style>
